# Explore here

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import LabelEncoder
from statsmodels.stats.outliers_influence import variance_inflation_factor
from sklearn.model_selection import train_test_split
import xgboost as xgb
from sklearn.linear_model import LinearRegression, LassoCV, RidgeCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, median_absolute_error, mean_absolute_percentage_error

data = pd.read_csv("https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv",sep=',')
data.to_csv('/workspaces/regularizacion_linearR/data/raw/demographic_health_data.csv',index=False)
data.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2

In [2]:
data.shape

(3140, 108)

In [3]:
data.describe()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
count,3140.000000,3.140000e+03,3.140000e+03,3140.000000,3.140000e+03,3140.000000,3.140000e+03,3140.000000,3.140000e+03,3140.000000,...,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000,3140.000000
mean,30401.640764,1.041894e+05,1.274030e+04,11.871051,1.336798e+04,12.694609,1.446933e+04,12.283979,1.391649e+04,11.751535,...,5827.242357,13.073503,12.088089,14.053726,9326.577707,3.446242,3.207516,3.710478,2466.234076,4.635350
std,15150.559265,3.335834e+05,4.180730e+04,2.124081,4.228439e+04,1.815044,4.957773e+04,3.126297,4.899095e+04,1.696599,...,15720.551934,2.724351,2.622948,2.824828,29754.601185,0.568059,0.527740,0.613069,7730.422067,1.510447
min,1001.000000,8.800000e+01,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000e+00,0.000000,1.100000e+01,6.092789,...,7.000000,6.100000,5.500000,6.700000,11.000000,1.800000,1.700000,1.900000,3.000000,1.000000
25%,18180.500000,1.096325e+04,1.280500e+03,10.594639,1.374500e+03,11.674504,1.263750e+03,10.496774,1.232750e+03,10.689322,...,815.000000,11.200000,10.300000,12.100000,1187.750000,3.100000,2.900000,3.300000,314.750000,3.000000
50%,29178.000000,2.580050e+04,3.057000e+03,11.802727,3.274000e+03,12.687422,3.108000e+03,11.772649,3.000500e+03,11.580861,...,1963.500000,12.800000,11.800000,13.800000,2743.000000,3.400000,3.200000,3.700000,718.000000,5.000000
75%,45081.500000,6.791300e+04,8.097000e+03,12.951840,8.822250e+03,13.659282,8.976250e+03,13.182260,8.314250e+03,12.639379,...,4727.000000,14.800000,13.700000,15.900000,6679.250000,3.800000,3.500000,4.100000,1776.250000,6.000000
max,56045.000000,1.010552e+07,1.208253e+06,25.460677,1.239139e+06,23.304372,1.557073e+06,37.570198,1.501844e+06,22.225129,...,434075.000000,25.600000,24.200000,27.000000,952335.000000,6.200000,5.800000,6.600000,237766.000000,6.000000

In [4]:
data.duplicated().sum()

0

In [5]:
data.dropna()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

In [6]:
df_categorico = data.select_dtypes(include=['object'])
df_categorico

     COUNTY_NAME STATE_NAME
0        Autauga    Alabama
1        Baldwin    Alabama
2        Barbour    Alabama
3           Bibb    Alabama
4         Blount    Alabama
...          ...        ...
3135  Sweetwater    Wyoming
3136       Teton    Wyoming
3137       Uinta    Wyoming
3138    Washakie    Wyoming
3139      Weston    Wyoming

[3140 rows x 2 columns]

In [7]:
label_encoder = LabelEncoder()
for columna in df_categorico.columns:
    data[columna] = label_encoder.fit_transform(data[columna])

In [8]:
corr = data.corr()

In [9]:
X = data.drop(['diabetes_number'], axis=1)
y = data['diabetes_number']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [10]:
model = xgb.XGBRegressor(objective='reg:squarederror')

model.fit(X_train, y_train)

feature_importances = model.feature_importances_

feature_names = X.columns
feature_importance_dict = dict(zip(feature_names, feature_importances))

sorted_feature_importance = dict(sorted(feature_importance_dict.items(), key=lambda x: x[1], reverse=True))

In [11]:
for feature, importance in sorted_feature_importance.items():
    print(f'Feature: {feature}, Importance: {importance}')

Feature: High school diploma only 2014-18, Importance: 0.4916204810142517
Feature: CKD_number, Importance: 0.15386614203453064
Feature: ICU Beds_x, Importance: 0.07959035038948059
Feature: 60-69, Importance: 0.07242883741855621
Feature: anycondition_number, Importance: 0.0641518235206604
Feature: Native American/American Indian-alone pop, Importance: 0.0550377294421196
Feature: 30-39, Importance: 0.02226749062538147
Feature: TOT_POP, Importance: 0.021488746628165245
Feature: Heart disease_number, Importance: 0.00821977760642767
Feature: Obesity_number, Importance: 0.0071733249351382256
Feature: Some college or associate's degree 2014-18, Importance: 0.005677330773323774
Feature: POVALL_2018, Importance: 0.003487556939944625
Feature: White-alone pop, Importance: 0.003107353812083602
Feature: 0-9, Importance: 0.0029506876599043608
Feature: 0-9 y/o % of total pop, Importance: 0.002214266685768962
Feature: GQ_ESTIMATES_2018, Importance: 0.0009114364511333406
Feature: Total nurse practitioners (2019), Importance: 0.0008880694513209164
Feature: COPD_number, Importance: 0.000778721587266773
Feature: Less than a high school diploma 2014-18, Importance: 0.0006567348609678447
Feature: % Two or more races, Importance: 0.0004555621126201004
Feature: Hawaiian/Pacific Islander-alone pop, Importance: 0.00043829140486195683
Feature: fips, Importance: 0.0003470019728410989
Feature: 20-29, Importance: 0.00023555236111860722
Feature: 40-49, Importance: 0.0002231810794910416
Feature: R_DOMESTIC_MIG_2018, Importance: 0.00018895826360676438
Feature: diabetes_prevalence, Importance: 0.00015869522758293897
Feature: diabetes_Lower 95% CI, Importance: 0.00015275854093488306
Feature: PCTPOVALL_2018, Importance: 0.00012452637020032853
Feature: Black-alone pop, Importance: 0.00011250359239056706
Feature: Population Aged 60+, Importance: 0.00010235710942652076
Feature: Unemployed_2018, Importance: 8.723010978428647e-05
Feature: % White-alone, Importance: 8.683057239977643e-05
Feature: Bachelor's degree or higher 2014-18, Importance: 6.167285027913749e-05
Feature: COUNTY_NAME, Importance: 6.119820318417624e-05
Feature: Percent of adults with less than a high school diploma 2014-18, Importance: 5.801459337817505e-05
Feature: Asian-alone pop, Importance: 5.3874391596764326e-05
Feature: Total Hospitals (2019), Importance: 5.238425001152791e-05
Feature: 70-79, Importance: 3.4497039450798184e-05
Feature: Total Active Patient Care Physicians per 100000 Population 2018 (AAMC), Importance: 3.4231532481499016e-05
Feature: R_INTERNATIONAL_MIG_2018, Importance: 3.089071105932817e-05
Feature: 19-Oct, Importance: 2.5915946025634184e-05
Feature: 40-49 y/o % of total pop, Importance: 2.549698001530487e-05
Feature: Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC), Importance: 2.277049316035118e-05
Feature: Total Specialist Physicians (2019), Importance: 2.232046790595632e-05
Feature: diabetes_Upper 95% CI, Importance: 1.969848199223634e-05
Feature: COPD_prevalence, Importance: 1.8653192455531098e-05
Feature: Med_HH_Income_Percent_of_State_Total_2018, Importance: 1.8613982319948263e-05
Feature: 50-59 y/o % of total pop, Importance: 1.783795960363932e-05
Feature: Percent of adults with a high school diploma only 2014-18, Importance: 1.5835921658435836e-05
Feature: Obesity_prevalence, Importance: 1.4350383935379796e-05
Feature: MEDHHINC_2018, Importance: 1.2571308616315946e-05
Feature: anycondition_prevalence, Importance: 9.297185897594318e-06
Feature: CI90UBINC_2018, Importance: 8.6029986050562e-06
Feature: R_NATURAL_INC_2018, Importance: 8.582094778830651e-06
Feature: Total Population, Importance: 8.339806299773045e-06
Feature: Total physician assistants (2019), Importance: 8.248779522546101e-06
Feature: 80+, Importance: 7.263649422384333e-06
Feature: 10-19 y/o % of total pop, Importance: 6.832473445683718e-06
Feature: 80+ y/o % of total pop, Importance: 6.695362117170589e-06
Feature: Active Primary Care Physicians per 100000 Population 2018 (AAMC), Importance: 6.493211003544275e-06
Feature: Active Patient Care General Surgeons per 100000 Population 2018 (AAMC), Importance: 6.1158307289588265e-06
Feature: % Asian-alone, Importance: 5.218523710937006e-06
Feature: Percent of adults completing some college or associate's degree 2014-18, Importance: 5.046273145126179e-06
Feature: Obesity_Upper 95% CI, Importance: 4.762452135764761e-06
Feature: % NA/AI-alone, Importance: 4.720815468317596e-06
Feature: % Black-alone, Importance: 4.526775228441693e-06
Feature: 20-29 y/o % of total pop, Importance: 4.350000381236896e-06
Feature: Urban_rural_code, Importance: 3.973628281528363e-06
Feature: Percent of adults with a bachelor's degree or higher 2014-18, Importance: 3.83967972084065e-06
Feature: Percent of Population Aged 60+, Importance: 3.561262701623491e-06
Feature: R_NET_MIG_2018, Importance: 3.5420771382632665e-06
Feature: Active General Surgeons per 100000 Population 2018 (AAMC), Importance: 3.46072124557395e-06
Feature: PCTPOV517_2018, Importance: 3.3461149087088415e-06
Feature: 30-39 y/o % of total pop, Importance: 3.174369112457498e-06
Feature: STATE_NAME, Importance: 2.933414634753717e-06
Feature: Unemployment_rate_2018, Importance: 2.652698185556801e-06
Feature: PCTPOV017_2018, Importance: 2.2611598069488537e-06
Feature: Active Physicians per 100000 Population 2018 (AAMC), Importance: 2.23357437789673e-06
Feature: Family Medicine/General Practice Primary Care (2019), Importance: 2.228184484920348e-06
Feature: % Hawaiian/PI-alone, Importance: 2.1161456515983446e-06
Feature: Internal Medicine Primary Care (2019), Importance: 1.9019059891434154e-06
Feature: R_death_2018, Importance: 1.82982557817013e-06
Feature: N_POP_CHG_2018, Importance: 1.7894368511406356e-06
Feature: 60-69 y/o % of total pop, Importance: 1.769920118022128e-06
Feature: COPD_Lower 95% CI, Importance: 1.5849303736104048e-06
Feature: Employed_2018, Importance: 1.5670935908929096e-06
Feature: anycondition_Upper 95% CI, Importance: 1.5608360399710364e-06
Feature: Civilian_labor_force_2018, Importance: 1.3627009138872381e-06
Feature: anycondition_Lower 95% CI, Importance: 1.1503079804242589e-06
Feature: Heart disease_prevalence, Importance: 1.0516932889004238e-06
Feature: Heart disease_Lower 95% CI, Importance: 9.899171118377126e-07
Feature: R_birth_2018, Importance: 9.389680712956761e-07
Feature: Heart disease_Upper 95% CI, Importance: 9.109538723350852e-07
Feature: 70-79 y/o % of total pop, Importance: 8.111147167255695e-07
Feature: 50-59, Importance: 6.595490731342579e-07
Feature: CNTY_FIPS, Importance: 6.402502776836627e-07
Feature: CKD_Lower 95% CI, Importance: 5.704445698029303e-07
Feature: Two or more races pop, Importance: 5.450566504805465e-07
Feature: COPD_Upper 95% CI, Importance: 5.416589488049794e-07
Feature: CI90LBINC_2018, Importance: 5.412447308117407e-07
Feature: CKD_Upper 95% CI, Importance: 5.292058631312102e-07
Feature: county_pop2018_18 and older, Importance: 4.0788140154290886e-07
Feature: CKD_prevalence, Importance: 4.02739004812247e-07
Feature: Obesity_Lower 95% CI, Importance: 3.8427597814916226e-07
Feature: POP_ESTIMATE_2018, Importance: 0.0
Feature: Median_Household_Income_2018, Importance: 0.0
Feature: STATE_FIPS, Importance: 0.0

In [12]:
def get_vars_to_delete(d_imp, corr, imp_cut=0.005, corr_cut=0.1):
  ls_vals_low_corr = corr[corr['diabetes_number'].abs()<=corr_cut].index
  return [var for var in ls_vals_low_corr if d_imp[var]<=imp_cut]

In [13]:
vals_to_drop = get_vars_to_delete(sorted_feature_importance, corr, imp_cut=0.01, corr_cut=0.20)
vals_to_drop

['fips',
 '0-9 y/o % of total pop',
 '10-19 y/o % of total pop',
 '20-29 y/o % of total pop',
 '40-49 y/o % of total pop',
 '50-59 y/o % of total pop',
 '60-69 y/o % of total pop',
 '70-79 y/o % of total pop',
 '80+ y/o % of total pop',
 '% White-alone',
 '% Black-alone',
 '% NA/AI-alone',
 '% Hawaiian/PI-alone',
 '% Two or more races',
 'R_birth_2018',
 'R_death_2018',
 'R_NATURAL_INC_2018',
 'R_DOMESTIC_MIG_2018',
 'R_NET_MIG_2018',
 'Percent of adults with less than a high school diploma 2014-18',
 "Percent of adults completing some college or associate's degree 2014-18",
 'PCTPOVALL_2018',
 'PCTPOV017_2018',
 'PCTPOV517_2018',
 'CI90UBINC_2018',
 'Unemployment_rate_2018',
 'Med_HH_Income_Percent_of_State_Total_2018',
 'Active Physicians per 100000 Population 2018 (AAMC)',
 'Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)',
 'Active Primary Care Physicians per 100000 Population 2018 (AAMC)',
 'Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)',
 'Active General Surgeons per 100000 Population 2018 (AAMC)',
 'Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)',
 'Percent of Population Aged 60+',
 'COUNTY_NAME',
 'STATE_NAME',
 'STATE_FIPS',
 'CNTY_FIPS',
 'Obesity_Lower 95% CI',
 'diabetes_prevalence',
 'diabetes_Lower 95% CI',
 'diabetes_Upper 95% CI',
 'CKD_prevalence',
 'CKD_Lower 95% CI',
 'CKD_Upper 95% CI']

In [14]:
data.drop(vals_to_drop, axis=1, inplace=True)

In [15]:
data.shape

(3140, 63)

In [16]:
X = data.drop(['diabetes_number'], axis=1)
y = data['diabetes_number']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
scaler = StandardScaler()
X_train_sc = scaler.fit_transform(X_train)
X_test_sc = scaler.transform(X_test)

In [18]:
m_linear = LinearRegression().fit(X_train_sc, y_train)

In [19]:
yhat_train = m_linear.predict(X_train_sc)
yhat_test = m_linear.predict(X_test_sc)

In [20]:
def get_metrics(yhat, y_test, yhat_train, y_train):
  metrics_train = r2_score(y_train, yhat_train), median_absolute_error(y_train, yhat_train), mean_absolute_percentage_error(y_train, yhat_train)*100
  metrics_test = r2_score(y_test, yhat), median_absolute_error(y_test, yhat), mean_absolute_percentage_error(y_test, yhat)*100
  metrics_diff = list(map(lambda x: x[1]-x[0], zip(metrics_train, metrics_test)))
  return pd.DataFrame(data=[metrics_train, metrics_test, metrics_diff], columns=['R2', 'Median AE', 'MAPE'], index=['Train set', 'Test set', 'Diferencia'])

In [21]:
get_metrics(yhat_test, y_test, yhat_train, y_train)

                  R2   Median AE       MAPE
Train set   0.998884  221.417000  21.419261
Test set    0.995361  226.015974  23.775589
Diferencia -0.003523    4.598974   2.356328

In [22]:
m_lasso = LassoCV(alphas=np.logspace(-6, 6, 10), cv=5, random_state=42, n_jobs=-1).fit(X_train_sc, y_train)

/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 260737632.78330278, tolerance: 226953216.93718365
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 464858942.4761429, tolerance: 226790981.9345043
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1076962578.793783, tolerance: 226953216.93718365
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 930713984.0429122, tolerance: 226790981.9345043
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1334944499.9455578, tolerance: 226790981.9345043
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1298498205.16578, tolerance: 226790981.9345043
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1134165137.9095216, tolerance: 226953216.93718365
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1269646117.4756477, tolerance: 226790981.9345043
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1251635764.701115, tolerance: 226790981.9345043
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1239679721.1695826, tolerance: 226790981.9345043
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 287273150.0081091, tolerance: 205321642.47811484
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1127367241.3449101, tolerance: 226953216.93718365
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 915169667.3145548, tolerance: 205321642.47811484
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1120023723.615304, tolerance: 226953216.93718365
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 881056842.0855229, tolerance: 205321642.47811484
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 865707468.0722864, tolerance: 205321642.47811484
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 858873895.1749395, tolerance: 205321642.47811484
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1114712907.0909297, tolerance: 226953216.93718365
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 854965177.9866444, tolerance: 205321642.47811484
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1088218646.3464222, tolerance: 237038177.52141094
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1336833350.2190893, tolerance: 237038177.52141094
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1304409068.897856, tolerance: 237038177.52141094
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1279478444.0395749, tolerance: 237038177.52141094
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 444162778.653631, tolerance: 141696002.73884583
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1266452982.294681, tolerance: 237038177.52141094
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1258088001.7188668, tolerance: 237038177.52141094
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1156915737.968756, tolerance: 141696002.73884583
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1234239802.5540984, tolerance: 141696002.73884583
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1232494004.8709917, tolerance: 141696002.73884583
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1225649007.039575, tolerance: 141696002.73884583
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:664: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1219459098.4719424, tolerance: 141696002.73884583
  model = cd_fast.enet_coordinate_descent_gram(
/home/vscode/.local/lib/python3.10/site-packages/sklearn/linear_model/_coordinate_descent.py:678: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.834e+09, tolerance: 2.595e+08
  model = cd_fast.enet_coordinate_descent(

In [23]:
print(f'el alpha es : {m_lasso.alpha_}')

el alpha es : 0.00046415888336127773

In [24]:
yhat_train_lasso = m_lasso.predict(X_train_sc)
yhat_lasso = m_lasso.predict(X_test_sc)

In [25]:
get_metrics(yhat_lasso, y_test, yhat_train_lasso, y_train)

                  R2   Median AE       MAPE
Train set   0.998587  238.847854  26.006954
Test set    0.994800  266.903727  29.045201
Diferencia -0.003786   28.055873   3.038247

In [26]:
m_ridge = RidgeCV(alphas=np.logspace(-6, 6, 10), cv=5).fit(X_train_sc, y_train)

In [27]:
yhat_train_ridge = m_ridge.predict(X_train_sc)
yhat_ridge = m_ridge.predict(X_test_sc)

In [28]:
get_metrics(yhat_ridge, y_test, yhat_train_ridge, y_train)

                  R2   Median AE       MAPE
Train set   0.998884  221.513674  21.460552
Test set    0.995362  227.665523  23.801877
Diferencia -0.003521    6.151848   2.341325

en este caso en particular podemos ver que no de nota tanto la diferencia  para ninguno de los modelos